.filter-popover {
  .makeStyles-button-15 {
    margin: 0;
  }
  .css-1jx2aec-MuiFormHelperText-root.Mui-error {
    color: black;
  }
  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100%;
    padding: 0;
  }
  .MuiFormControl-root {
    width: 100%;
  }
  .multoselect-container .MuiInputBase-root {
    width: 100%;
  }
}
